body{
  background-color: #ffffff;
}

.flexContainer {
  display: flex;
  width: 99.5%;
  flex-wrap: nowrap;
  position: absolute;
  top: 80;
  left: 1;
}

.flexItem{
  color: red;
}


.mainPicture {
 flex-grow: 2;
 width: 50%;
}

.photoSize {
  width: 100%;
}

.photoBorder {
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

.topPhoto{
  border-bottom: 0cm
}

.secondPics {
  flex-grow: 1;
  width: 25%;
}
.endPics {
  flex-grow: 1;
  width: 25%;
}