body{
  background-color: #ffffff;
}

.flexContainer {
  display: flex;
  width: 99.5%;
  height: 10%;
  flex-wrap: nowrap;
  position: absolute;
  overflow: hidden;
  top: 80;
  left: 1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.flexItem{
  color: red;
}


.mainPicture {
 flex-grow: 2;
 width: 50%;
 height: 590px;
 border-right: #000000;
 border-style: solid;
 border-color: #000000;
 border-width: 1px;
}

.photoSize {
  width: 100%;
}

.photoBorder {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.topPhoto{
  border-bottom: 0cm
}

.secondPics {
  flex-grow: 1;
  width: 24.5%;
}
.endPics {
  flex-grow: 1;
  width: 24.5%;
}

.dualPicContainer{
  height: 50%;
}